@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}

*::-webkit-scrollbar {
    width: .75em;
    height: .75em;
}

*::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

*::-webkit-scrollbar-track {
    background: #0e0f11;
    border-radius: 5px;
}

html {
    background: #fff;
    font-family: 'Montserrat', Segoe UI, Open Sans, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.2em;
    color: #3c484e;
    background: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

br {
    line-height: 1.6em;
}

p {
    margin: 1em 0 1em;
    line-height: 1.4em;
}

img {
    max-width: 100%
}

img[src$='#right'] {
    float: right;
    margin-left: 20px;
}

a {
    background-color: transparent;
    color: #26a8ed;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
    margin: 1em 0 1em;
    padding-left: 2em;
    padding-right: 0em
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0.25em 0 0.25em
}

li {
    margin: 0;
    padding-left: 0.5em;
    line-height: 1.5em
}

b, strong {
    font-weight: bold;
    color: #090a0b;
}

i, em {
    font-style: italic
}

blockquote, q {
    quotes: none
}

blockquote {
    max-width: 100%;
    margin: 1.5em 0 1.5em;
    line-height: 1.4em;
    padding: 0 1.5em;
    border-left: 3px solid #3eb0ef
}

blockquote p {
    font-weight: normal;
    font-style: italic;
    font-size: inherit;
    line-height: inherit;
    margin: 0 0 1em;
    color: inherit;
}

blockquote cite {
    font-weight: bold;
}

blockquote cite a {
    font-weight: normal;
}

pre, code {
    font-family: monospace, monospace;
    font-size: 1rem;
    line-height: 1.2em;
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0.5em 0 0.5em;
    border: 1px solid #000;
    color: #e5eff5;
    background: #0e0f11;
    border-radius: 5px
}

code {
    overflow-y: hidden;
    max-width: 100%;
    padding: 0 0.5em 0;
    font-weight: normal !important;
    background: #e5eff5;
    border-radius: 5px;
}

pre code {
    padding: 20px;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: block;
    scrollbar-color: #666;
    scrollbar-width: .5em;
    font-size: 0.9rem;
    line-height: 1.4em;
}

table {
    display: inline-block;
    overflow-x: auto;
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    margin: 0.5em 0 0.5em;
    font-size: 1.1rem;
    white-space: wrap;
    vertical-align: top;
}

table th {
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    padding: 0.25em 1em;
    border: 1px solid #fff;
    background-color: #2c6896
}

table td {
    padding: 0.35em 1em;
    border: 1px solid #fff;
    background-color: #b4d3eb
}

table tr:last-child td:last-child {
    padding-bottom: 0.75em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 0.5em;
    font-weight: bold;
    line-height: normal;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.3rem;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 0.5em 0 0.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #bababa
}
