nav.page {
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    line-height: 1em;
    font-weight: normal;
}

nav.page ul.nav_menu {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

nav.page ul.nav_menu li {
    margin: 0;
    padding: 0;
    display: block;
    text-transform: uppercase;
    margin-right: 10px;
}

nav.page ul.nav_menu li:last-child { 
    margin-right: 0; 
}

nav.page ul.nav_menu li a {
    display: block;
    padding: 0 0.25em;
    color: #fff;
    opacity: 0.8;
}

nav.page ul.nav_menu li a:hover {
    text-decoration: none;
    opacity: 1;
}

nav.page li.nav_current a:visited {
    color: rgb(202, 202, 58);
}

nav.page div.social_links {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

nav.page a.social_link {
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    color: #fff;
    opacity: 0.8;
}

nav.page a.social_link:hover {
    opacity: 1;
}

nav.page a.social_link svg {
    height: 1.3rem;
    fill: #fff;
}

nav.page a.social_link.subscribe_link {
    margin-left: 10px;
    padding: 4px 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    opacity: .8
}

nav.page a.social_link.subscribe_link:hover {
    text-decoration: none;
    opacity: 1
}
