article.terms {
	flex: 1 0 auto;
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.2em;
    font-weight: normal;
}

header.terms {
    height: 450px;
    padding: 90px 30px;
    color: #fff;
    background: #090a0b;
}

header.terms section {
    max-width: 1040px;
    margin: 0 auto;
}

header.terms h1 {
    margin: 0;
    text-align: center;
}

header.terms p {
    margin: 0;
    text-align: center;
}

header.terms section {
    margin-bottom: 40px;
}
